@import "components/container/container.css";
@import "components/grid/grid.css";
@import "components/card/card.css";

:root {
  --gap: 10px;
  --gap-negative: -10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}